 nz-card{
    border-radius: 8px;
    transition: width 2s, height 4s;
}
google-chart{
    border-radius: 8px;
}
// nz-page-header {
//     border: 1px solid rgb(235, 237, 240);
//   }
.count{
    float: right;
}
nz-content{
    margin: 0 16px;
}
  