<!-- <nz-layout> -->
    
    <!-- <div style="background: #ECECEC;padding:30px;">    -->
    <nz-content>
        <div style="margin-top: 12px;">

            <nz-row [nzGutter]="16" nz-col nzSpan ="24">

                <nz-card nzTitle="Total Transactions" [nzBordered]="false">
                  <nz-row>
                    <div nz-col nzSpan="12">
                        <nz-spin [nzDelay]="450" [nzSpinning]="isSpinning">
                        <nz-statistic [nzValue]="(totalTransactions ? totalTransactions : 0 | number: '1.0-2')!" [nzTitle]="'Amount'"></nz-statistic>
                        </nz-spin>
                    </div>
                    <div nz-col nzSpan ="8">
                        <nz-spin [nzDelay]="450" [nzSpinning]="isSpinning">
                        <nz-statistic [nzValue]="(transactionCount ? transactionCount : 0 | number: '1.0-2')!" [nzTitle]="'Transaction Count'"></nz-statistic>
                        </nz-spin>
                    </div>
                  </nz-row>
                </nz-card>
            </nz-row>
        </div>
        <div style="margin-top: 12px;">
            <nz-row [nzGutter]="16" nzSpan ="24">
                <div nz-col nzSpan ="12">
                    <div nz-row [nzGutter]="16" style="margin-top: 12px;">
                        <div nz-col nzSpan="12">
                            <nz-card nzTitle="Airtel">
                                <nz-spin [nzDelay]="450" [nzSpinning]="isSpinning">
                                <nz-statistic [nzValue]="(airtelamount ? airtelamount : 0 | number: '1.0-2')!" [nzTitle]="'Amount'" [ngModel]="isSpinning"></nz-statistic>
                            </nz-spin>
                            </nz-card>
                        </div>
                            <div nz-col nzSpan="12">
                            <nz-card nzTitle="MTN">
                                <nz-spin [nzDelay]="450" [nzSpinning]="isSpinning">
                                <nz-statistic [nzValue]="(amount ? amount : 0 | number: '1.0-2')!" [nzTitle]="'Amount'" [ngModel]="isSpinning"></nz-statistic>
                                </nz-spin>
                            </nz-card>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="16" style="margin-top: 12px;">
                        <div nz-col nzSpan="12">
                            <nz-card nzTitle="Zamtel">
                                <nz-spin [nzDelay]="450" [nzSpinning]="isSpinning">
                                <nz-statistic [nzValue]="(zamtelamount ? zamtelamount : 0 | number: '1.0-2')!" [nzTitle]="'Amount'"></nz-statistic>
                                </nz-spin>
                            </nz-card>
                        </div>
                            <div nz-col nzSpan="12">
                                <nz-card nzTitle="Zesco">
                                    <nz-spin [nzDelay]="400" [nzSpinning]="isSpinning">
                                    <nz-statistic [nzValue]="(zescoamount ? zescoamount : 0 | number: '1.0-2')!" [nzTitle]="'Amount'"></nz-statistic>
                                    </nz-spin>
                                </nz-card>
                            </div>
                    </div>
                </div>
            <div nz-col nzSpan="12">
            <nz-card style="margin-top: 12px; width: 500;">
            <div nz-col nzSpan ="12" style="margin-top: 12px ;">
                <!-- <nz-spin [nzDelay]="400" [nzSpinning]="isSpinning"> -->
                <google-chart style="width: 480px; height: 290px" 
                #chart
                    [title]="pieChart.title"
                    [type]="pieChart.type"
                    [data]="pieChart.data"
                    [columns]="pieChart.columns"
                    [data]="pieChart.data"
                ></google-chart>
                <!-- </nz-spin> -->
            </div>
           </nz-card>
        </div>
        </nz-row>
        </div>
     
     
    </nz-content>
         
    <!-- </div> -->
    
<!-- </nz-layout> -->