<!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
      Transactions
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      All Transactions
    </nz-breadcrumb-item>

  </nz-breadcrumb> -->

  <!-- <div class="summary-section">
    <nz-divider nzOrientation="left" nzText="Transaction Summary"></nz-divider>
    <div nz-row [nzGutter]="16"> -->
      <!-- Total amount of Zescco -->
      <!-- <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
          <mat-card>
              <div nz-row>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'ZESCO Transactions'"></nz-statistic>
                  </div>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'Total Amount(ZMW)'"></nz-statistic>
                  </div>
              </div>
          </mat-card>
      </div></div> -->
  
      <!-- Total number of Airtime -->
      <!-- <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
          <mat-card>
              <div nz-row>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'Airtel Transactions'"></nz-statistic>
                  </div>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'Total Amount(ZMW)'"></nz-statistic>
                  </div>
              </div>
          </mat-card>
      </div></div> -->
  
      <!-- Total amount of MTN -->
      <!-- <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
          <mat-card>
              <div nz-row>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'MTN Transactions'"></nz-statistic>
                  </div>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'Total Amount(ZMW)'"></nz-statistic>
                  </div>
              </div>
          </mat-card>
      </div></div> -->
  
      <!-- Total amount Zamtel -->
      <!-- <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
          <mat-card>
              <div nz-row>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'Zamtel Transactions'"></nz-statistic>
                  </div>
                  <div class="statistic" nz-col nzSpan="12">
                      <nz-statistic [nzValue]="(194 | number)!" [nzTitle]="'Total Amount(ZMW)'"></nz-statistic>
                  </div>
              </div>
          </mat-card>
      </div></div> -->
    <!-- </div>
  </div> -->
  
  <!-- Transaction id agent number recipient amount commission earned view transaction details(modal directs to transaction type) -->
  <div class="table-container">
      <nz-divider nzOrientation="left" nzText="Transaction Details"></nz-divider>
      <nz-table #basicTable nzSize="middle" [nzData]="listOfData">
          <thead>
            <tr>
              <th>ID</th>
              <th>Agent Number</th>
              <th style="text-align:center;">Amount(K)</th>
              <th style="text-align:center;">Service</th>
              <th style="text-align:center;">Status</th>
              <th>Date</th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.MSISDN }}</td>
              <td style="text-align:center;">{{ data.amount }}</td>
              <td style="text-align:center;">{{ data.serviceID }}</td>
              <td style="text-align:center;">{{ data.statusCode }}</td>
              <td>{{ data.dateCreated }}</td>
              <!-- <td><nz-badge nzStatus="error" [nzText]="'Failed'"></nz-badge></td> -->
              <td>
                <a nz-button nzType="link" (click)="showModal(data)">More Details</a>
              </td>
            </tr>
          </tbody>
      </nz-table>  
  </div>
  
  <!-- Transaction Details Modal -->
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Transaction Details" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      
      <div nz-row style="text-align: center;">
          <!-- Agent MSISDN -->
          <div nz-col nzSpan="12">
              <nz-descriptions>
                  <nz-descriptions-item nzTitle="Agent MSISDN">{{ this.agentMSISDN }}</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <!-- Customer MSISDN -->
          <div nz-col nzSpan="12">
              <nz-descriptions>
                  <nz-descriptions-item nzTitle="Customer MSISDN"> {{ this.customerMSISDN }} </nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>
  
      <!-- Service -->
      <div nz-row style="text-align: center;">
          <nz-descriptions>
              <nz-descriptions-item nzTitle="Service">{{ this.service }}</nz-descriptions-item>
          </nz-descriptions>
      </div>
  
      <div nz-row style="text-align: center;">
          <!-- Amount -->
          <div nz-col nzSpan="12">
              <nz-descriptions>
                  <nz-descriptions-item nzTitle="Amount"> {{this.amount}} </nz-descriptions-item>
              </nz-descriptions>
          </div>
          <!-- Float Balance -->
          <div nz-col nzSpan="12">
              <nz-descriptions>
                  <nz-descriptions-item nzTitle="Commission Earned"> {{this.commission_earned}} </nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>
  
      <div nz-row style="text-align: center;">
          <!-- Transaction id -->
          <div nz-col nzSpan="12">
              <nz-descriptions>
                  <nz-descriptions-item nzTitle="Transaction ID">{{ this.transactionID }}</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <!-- Date Create -->
          <div nz-col nzSpan="12">
              <nz-descriptions>
                  <nz-descriptions-item nzTitle="Date Created">{{ this.dateCreated }}</nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>
  
      <!-- ZESCO Token ID -->
      <div nz-row  style="text-align: center;">
          <nz-descriptions>
              <nz-descriptions-item *ngIf="isZescoTransaction" nzTitle="Token">{{ this.zescoToken}}</nz-descriptions-item>
          </nz-descriptions>
      </div>
  
      <!-- Message Sent to customer -->
      <div nz-row>
          <nz-divider nzText="Customer Message" nzOrientation="left"> {{customerMessage}} </nz-divider>
      </div>
  
      <!-- Message sent to Agent -->
      <div nz-row>
          <nz-divider nzText="Agent Message" nzOrientation="left"> {{agentMessage}}</nz-divider>
      </div>
  
  
  
      <div *nzModalFooter>
          <!-- <span>Modal Footer: </span> -->
          <button nz-button nzType="default" (click)="handleCancel()">Close</button>
          <!-- <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading" routerLink="zesco-transactions">View All Transactions</button> -->
      </div>
    </nz-modal>
  
  